module.exports = {
  content: [
    "./apps/docs/**/*.{js,ts,jsx,tsx,mdx}",
    "./libs/**/*.{js,ts,jsx,tsx}",
  ],
  theme: {
    extend: {
      backdropBlur: {
        stratus: "6px",
        cumulus: "18px",
        nimbus: "45px",
      },
      backgroundImage: {
        "sky-edge":
          "linear-gradient(135deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.05) 100%)",
      },
    },
  },
  plugins: [],
};
